@model ILoveBaku.Application.CQRS.User.Commands.AddManualUser.PasswordInfoModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <style>
        @@font-face {
            font-family: FFSignaSlabPro-Black;
            src: url(/Contents/fonts/FFSignaSlabPro-Black.otf);
            src: url(/Contents/fonts/FFSignaSlabPro-Black.ttf) format("truetype"),url(/Contents/fonts/FFSignaSlabPro-Black.otf) format("opentype")
        }

        @@font-face {
            font-family: FFSignaSlabPro-Bold;
            src: url(/Contents/fonts/FFSignaSlabPro-Bold.otf);
            src: url(/Contents/fonts/FFSignaSlabPro-Bold.ttf) format("truetype"),url(/Contents/fonts/FFSignaSlabPro-Bold.otf) format("opentype")
        }

        @@font-face {
            font-family: FFSignaSlabPro-Book;
            src: url(/Contents/fonts/FFSignaSlabPro-Book.otf),url(/Contents/fonts/FFSignaSlabPro-Book.otf) format("opentype")
        }

        @@font-face {
            font-family: FFSignaSlabPro-ExtraBlack;
            src: url(/Contents/fonts/FFSignaSlabPro-ExtraBlack.otf),url(/Contents/fonts/FFSignaSlabPro-ExtraBlack.otf) format("opentype")
        }

        @@font-face {
            font-family: FFSignaSlabPro-DemiBold;
            src: url(/Contents/fonts/FFSignaSlabPro-DemiBold.otf);
            src: url(/Contents/fonts/FFSignaSlabPro-DemiBold.ttf) format("truetype"),url(/Contents/fonts/FFSignaSlabPro-DemiBold.otf) format("opentype")
        }

        @@font-face {
            font-family: FFSignaSlabPro-ExtraLight;
            src: url(/Contents/fonts/FFSignaSlabPro-ExtraLight.otf);
            src: url(/Contents/fonts/FFSignaSlabPro-ExtraLight.ttf) format("truetype"),url(/Contents/fonts/FFSignaSlabPro-ExtraLight.otf) format("opentype")
        }

        @@font-face {
            font-family: FFSignaSlabPro-Light;
            src: url(/Contents/fonts/FFSignaSlabPro-Light.otf);
            src: url(/Contents/fonts/FFSignaSlabPro-Light.ttf) format("truetype"),url(/Contents/fonts/FFSignaSlabPro-Light.otf) format("opentype")
        }

        @@font-face {
            font-family: HelveticaNeueLTW1G-Bd;
            src: url(/Contents/fonts/HelveticaNeueLTW1G-Bd.otf),url(/Contents/fonts/HelveticaNeueLTW1G-Bd.otf) format("opentype")
        }

        @@font-face {
            font-family: HelveticaNeueLTW1G-Blk;
            src: url(/Contents/fonts/HelveticaNeueLTW1G-Blk.otf),url(/Contents/fonts/HelveticaNeueLTW1G-Blk.otf) format("opentype")
        }

        @@font-face {
            font-family: HelveticaNeueLTW1G-Lt;
            src: url(/Contents/fonts/HelveticaNeueLTW1G-Lt.otf),url(/Contents/fonts/HelveticaNeueLTW1G-Lt.otf) format("opentype")
        }

        @@font-face {
            font-family: HelveticaNeueLTW1G-Md;
            src: url(/Contents/fonts/HelveticaNeueLTW1G-Md.otf),url(/Contents/fonts/HelveticaNeueLTW1G-Md.otf) format("opentype")
        }

        @@font-face {
            font-family: HelveticaNeueLTW1G-Roman;
            src: url(/Contents/fonts/HelveticaNeueLTW1G-Roman.otf),url(/Contents/fonts/HelveticaNeueLTW1G-Roman.otf) format("opentype")
        }

        @@font-face {
            font-family: HelveticaNeueLTW1G-UltLt;
            src: url(/Contents/fonts/HelveticaNeueLTW1G-UltLt.otf),url(/Contents/fonts/HelveticaNeueLTW1G-UltLt.otf) format("opentype")
        }

        @@font-face {
            font-family: JISAZNBold;
            src: url(/Contents/fonts/jaznb.woff);
            src: url(/Contents/fonts/jaznb.woff?#iefix) format("embedded-opentype"),url(/Contents/fonts/jaznb.woff) format("woff"),url(/Contents/fonts/jaznb.woff) format("truetype");
            font-weight: 400;
            font-style: normal
        }

        @@font-face {
            font-family: JISAZNRegular;
            src: url(/Contents/fonts/jaznr.woff);
            src: url(/Contents/fonts/jaznr.woff?#iefix) format("embedded-opentype"),url(/Contents/fonts/jaznr.woff) format("woff"),url(/Contents/fonts/jaznr.woff) format("truetype");
            font-weight: 400;
            font-style: normal
        }

        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed,
        figure, figcaption, footer, header, hgroup,
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }

        a {
            text-decoration: none;
        }
        /* HTML5 display-role reset for older browsers */
        article, aside, details, figcaption, figure,
        footer, header, hgroup, menu, nav, section {
            display: block;
        }

        body {
            line-height: 1;
        }

        ol, ul {
            list-style: none;
        }

        blockquote, q {
            quotes: none;
        }

            blockquote:before, blockquote:after,
            q:before, q:after {
                content: '';
                content: none;
            }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        * {
            box-sizing: border-box;
        }

        .container {
            max-width: 600px;
            padding: 0 40px;
            margin: 0 auto;
        }

        .main-container {
            padding: 60px 40px;
        }

        .header-container {
            padding: 10px;
            display: flex;
            justify-content: center;
        }

        body {
            font-family: HelveticaNeueLTW1G-Md, sans-serif;
        }

        header {
            border-bottom: 1px solid #949494;
        }

        main {
            min-height: 400px;
        }

        .main-title {
            font-size: 23px;
            color: #590000;
            margin-bottom: 10px;
            font-family: FFSignaSlabPro-Light, sans-serif;
        }

        .main-msg {
        }

        .main-password-wrapper {
            padding: 30px 0;
            display: flex;
            justify-content: center;
        }

        .main-password {
            width: 300px;
            padding: 14px 0;
            color: white;
            text-align: center;
            font-size: 17px;
            background-color: #580000;
        }

        footer {
            border-top: 1px solid #949494;
        }

        .footer-container {
            padding: 13px 0;
            text-align: center;
        }

        .footer-txt {
            font-size: 9px;
            font-weight: 500;
            color: #707070;
        }

        @@media only screen and (max-width: 576px) {
            .main-container {
                padding: 40px 0px;
            }

            .main-password-wrapper {
                padding: 40px 0;
            }

            .main-password {
                width: 220px;
                font-size: 13px;
            }

            main {
                min-height: 450px;
            }
        }
    </style>
</head>
<body class="container">
    <header>
        <div class="header-container">
            <div class="header-logo">
                <img src="~/Contents/img/mail-logo.png" alt="">
            </div>
        </div>
    </header>
    <main class="main-container">
        <div class="main-title">
            <p>
                Hi, @Model.Name
            </p>
        </div>
        <div class="main-msg">
            <p>
                Your new password. You can change your
                password at any time from user information.
            </p>
        </div>

        <div class="main-password-wrapper">
            <div class="main-password">
                <span>
                    @Model.Password
                </span>
            </div>
        </div>
        <div class="main-end">
            <p>
                Thanks,
                <br>
                The I Love Baku Team
            </p>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <p class="footer-txt">
                © I Love Baku - All rights reserved
            </p>
        </div>
    </footer>
</body>
</html>