@import "user-info.css";

.upload-img-form{
    /*width: 495px;*/
}
.main-img-upload
{
    width: 495px;
    height: 495px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    border-radius: 10px;
    border: 1px dashed #d9dae0;
    padding: 115px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.upload-icon{
    margin-bottom: 25px;
}
#upload-img-main{
    display: none;
}
.drop-here-txt{
    font-weight: bold;
    color: #282d30;
    font-size: 19px;
    text-decoration: none;
    margin-bottom: 5px;
}
.or{
    font-size: 14px;
    color: #c7c9d0;
    margin-bottom: 7px;
}
.main-img-upload-label{
    cursor: pointer;
    font-size: 14px;
    color: #ff0100;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

.main-img-upload-label p {
    cursor: pointer;
}

.file-hover{
    border: 2px dashed #ff0100;
}

.img-dropped *{
    opacity: 0;
}

.dropped-img{
    width: 100%;
}

#upload-img-other{
    display: none;
}

.other-images-upload{
    margin-top: 35px;
    padding: 40px 0px;
    height: auto;
}
.other-img-upload-label{
    cursor: pointer;
    font-size: 14px;
    color: #ff0100;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
.other-img-upload-label p{
    cursor: pointer;

}
.other-uploaded-images-container{
    width: 100%;
    flex-wrap: wrap;
    margin-top: 50px;
}
.uploaded-item-wrapper{
    width: 280px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 0px 20px 40px 0px;
}
.uploaded-item  {
    width: 280px;
    margin-right: 20px;
}
.uploaded-item-img-wrapper{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #f4f4f4;
    border-radius: 15px;
    height: 280px;
    position: relative;
}


.other-images-upload-after-drop{
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.other-images-upload-after-drop *{
    font-size: 14px;
    margin-right: 8px;
}
.other-images-upload-after-drop img{
    display: none;
}
.main-img-upload-wrapper{
    width: 495px;
    position: relative;
}
.main-upload-details-uploading{
    margin-top: 20px;
width: 100%;
    display: none;
}

.other-upload-details-uploading{
    display: inline-block;
}
.upload-details-file-name{
    font-size: 14px;
}
.file-size-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.file-size{
    color: #c7c9d0;
    font-size: 11px;
}

.upload-progress{
    width: 100%;
    background-color: white;
    height: 5px;
    border-radius: 3px;
}

progress::-webkit-progress-bar {
    width: 100%;
    background-color: #e8e9ec;
    border-radius: 3px;


}
progress::-webkit-progress-value {
    background-color: red;
    border-radius: 3px;


}
progress::-moz-progress-bar {
    width: 100%;
    background-color: #e8e9ec;
    border-radius: 3px;

}
.cancel-upload-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-color: #a2a6b2;
    position: relative;
}
.cancel-upload-btn p{
    bottom: -2px;
position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    color: white;
}

.delete-upload-btn{
    display: none;
}
.blurry-bg{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(240, 240, 240, 0.75);
    display: none;
    opacity: 1;
}
.visible{
    display: inline-block;
}

.main-img-hover{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    display: none;
    opacity: 1;
}

.edit-upload-btn{
    align-self: flex-end;
}
.rotate-buttons{
    align-self: center;
}

.rotate-right-btn{
    margin-left: 3px;
}
.rotate-left-btn{
    margin-right: 3px;
}

.img-dropped:hover .main-img-hover{

display: flex;    /*transition: all 0.3s;*/

}

.img-dropped:hover .main-img-hover *{
   display: flex;
    /*transition: all 0.3s;*/
    opacity: 1;

}




