@model ChangePasswordVM

<form id="changePasswordForm">
    <div class="form-group form-group-custom">
        <input asp-for="Password" class="form-control form-control-custom" placeholder="@Localizer["Cari şifrə"]*">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group form-group-custom">
        <input asp-for="NewPassword" class="form-control form-control-custom" placeholder="@Localizer["Yeni şifrə"]*">
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group form-group-custom">
        <input asp-for="ConfirmNewPassword" class="form-control form-control-custom" placeholder="@Localizer["Yeni şifrə (təkrar)"]*">
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>
    <div class="form-group form-group-custom clearfix">
        <button type="submit" class="btn btn-add-card float-right">@Localizer["Yadda Saxla"]</button>
    </div>
</form>