@model List<ILoveBaku.Application.CQRS.Menus.Queries.GetMenus.MenuItemDto>
<div class="col-lg-3 col-6 mt-lg-0 mt-3">
    @foreach (var item in Model)
    {
        if (item.Children.Count > 0)
        {
            <div class="footer-texts">
                <label for="account">@item.Name</label>
                @foreach (var child in item.Children)
                {
                    if (child.Children.Count > 0)
                    {
                        @await Html.PartialAsync("_FooterMenuPartial", child);
                    }
                    else
                    {
                        <a href="@child.Link">@child.Name</a>
                    }
                }
            </div>
        }
    }
</div>