@model ILoveBaku.Application.CQRS.Menus.Queries.GetMenus.MenuItemDto
    <li class="nav-item">
        <a class="nav-link nav-link-main">Products</a>
        <div class="aaa row">
            <div class="col-6 d-flex pl-0">
                <div class="item mb-3">
                    <ul>
                        <li>Shoes</li>
                        <li>Clothing</li>
                        <li>Clothing</li>
                    </ul>
                </div>
            </div>
            <div class="col-6 pt-3 d-flex justify-content-between align-items-start">
                <img src="static/img/p3.png" alt="">
                <img src="static/img/p3.png" alt="">
            </div>
        </div>
    </li>